/*.iconContainer {
  position: relative;
}
.iconContainer .icon, .iconContainer .iconActive {
  left: 0;
  position: absolute;
  top: 0;
}
.iconContainer .iconActive {
  opacity: 0%;
  z-index: 9;
}
.iconContainer .iconActive:hover {
  animation: fadeIn 0.5s;
  opacity: 100%;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
 }
  100% {
    opacity: 100%;
 }
}*/
