.aboutInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  width: 45vw;
  margin: 10px 0 10px 0;
  text-align: center;
}


@media only screen and (max-width: 1000px) {
  .aboutInfo {
    text-align: center;
    width: 70vw;
  }
}

@media only screen and (max-width: 450px) {
  .aboutInfo {
    height: 350px;
  }
}