@font-face {
  font-family: "Consolas";
  src: url("Consolas.woff") format("woff");
}

html,
body {
  padding: 0;
  height: 100vh;
  margin: 0;
  font-family: "Consolas", "Lucida Sans Typewriter", "Courier New";
}

a {
  color: inherit;
  text-decoration: none;
  font-size: large;
}

h1 {
  color: #e06c75;
  font-size: 48px;
  margin: 10px;
}

h2 {
  color: #d19a66;
  font-size: 25px;
}

b {
  color: #e06c75;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
